li {
    list-style: none;
}

.bg-headline {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#subcribe {
    position: relative;
    float: right;
}

#following {
    padding: 10px 0px;
}

#following h2 {
    display: inline;
    margin-right: 5px;
    padding: 5px;
    margin-top: 10px;
}
